{% include 'header.html' %}

<div style="text-align: center; padding: 20px;">
    <h1 style="color: #4CAF50; font-weight: bold; font-size: 2.5em;">BIENVENIDO A MI APLICACIÓN CHAMOTH FLORES</h1>
    <br>
    <h1 style="color: #FF5722; font-weight: bold; font-size: 2em; text-transform: uppercase; letter-spacing: 2px;">Almacén de Productos</h1>
    <p style="color: #333333; font-size: 1.2em; margin-top: 10px;">
        Aquí podrás gestionar tus productos de manera sencilla y rápida.
    </p>
</div>


{% include 'footer.html' %}
